<div   class="header">
    <div class="spacer">
        <span class="spacer"></span>
    </div>
    <div class="logo">
        <div class="logo-image"><img (click)="home()" src="../../../assets/Images/education.svg" alt=""></div>
        <span class="logo-text">Bookstore</span>
    </div>
    <div class="spacer-between">
        <span class="spacer-between"></span>
    </div>
    <div class="search-div">
        <input type="text" class="search-box" placeholder="Search">
    </div>
    <div class="spacer">
        <span class="spacer"></span>
    </div>
    <div class="spacer-between">
        <span class="spacer-between"></span>
    </div>
    <div class="cart-logo">
        <div class="cart-text">Cart</div>
        <img (click)="cart()" src="../../../assets/Images/supermarket.svg" alt=""routerLink="/cart">
    </div>
</div>
